.container{
    display: flex;
}
.container div:first-of-type{
    flex-basis: 50px;
    flex-grow:0;
    background-color: hsl(197, 45.1%, 80%);
}
.container div{
    flex-grow:1;
    background-color: hsl(350.8, 71.1%, 83.7%);
}
.container div:last-child{
    background-color:hsl(197, 45.1%, 80%) ;
    flex-grow:0;
    flex-basis: 75px;
}